@charset "UTF-8";
/*Colors*/
/*background-color*/
* {
  margin: 0;
  padding: 0;
}

/*Body, h1, a, p, h2, h3,*/ /* Formuladrio(form, label)*/
body {
  background-color: white;
}

h1 {
  /* Fuente*/
  font-family: "Oooh Baby", cursive;
  /*Tamaño fuente*/
  font-size: 50px;
  /*Centrar fuente*/
  text-align: center;
}

/*Color delos enlaces*/
a {
  text-decoration: none;
  color: white;
}

/*Fuente*/
p, h2, h3, form, label {
  font-family: "Josefin Sans", sans-serif;
}

/*Colors*/
/*background-color*/
/*Colors*/
/*background-color*/
* {
  margin: 0;
  padding: 0;
}

/*Body, h1, a, p, h2, h3,*/ /* Formuladrio(form, label)*/
body {
  background-color: white;
}

h1 {
  /* Fuente*/
  font-family: "Oooh Baby", cursive;
  /*Tamaño fuente*/
  font-size: 50px;
  /*Centrar fuente*/
  text-align: center;
}

/*Color delos enlaces*/
a {
  text-decoration: none;
  color: white;
}

/*Fuente*/
p, h2, h3, form, label {
  font-family: "Josefin Sans", sans-serif;
}

/*Header y nav*/
.navbar {
  background-color: #d8af97;
}
.navbar .nav-link {
  margin: 20px 20px 20px 20px;
}
.navbar .nav-link:hover {
  color: black;
}

/*Colors*/
/*background-color*/
/*Seccion Nosotros*/
.container {
  display: flex;
  height: 120vh; /*Tamaño del fondo rosa*/
  justify-content: space-around;
  align-items: center;
  color: black;
  animation: expand 0.8s ease forwards;
  background-color: #ebcfce;
  position: relative;
  transition: all 0.8s ease;
}
.container .container_content {
  /*Distancia del nav y el titulo*/
  width: 50%;
}
.container .container_content .container_content_inner {
  width: 80%;
  margin-left: 80px;
}
.container .container_content .container_content_inner, .container .container_content .container_content_inner .title {
  overflow: hidden;
  height: auto;
  text-align: center;
}
.container .container_content .container_content_inner .h1-AboutUs, .container .container_content .container_content_inner .title .h1-AboutUs {
  /* Fuente*/
  font-family: "Oooh Baby", cursive;
  font-size: 40px;
  color: black;
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp 0.8s ease forwards 0.5s;
}
.container .container_content .container_content_inner, .container .container_content .container_content_inner .par, .container .container_content .container_content_inner .title, .container .container_content .container_content_inner .title .par {
  height: auto;
  overflow: hidden;
}
.container .container_content .container_content_inner .text-AboutUs, .container .container_content .container_content_inner .par .text-AboutUs, .container .container_content .container_content_inner .title .text-AboutUs, .container .container_content .container_content_inner .title .par .text-AboutUs {
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}
.container .container_content .container_content_inner .text-AboutUs .Linkrrss, .container .container_content .container_content_inner .par .text-AboutUs .Linkrrss, .container .container_content .container_content_inner .title .text-AboutUs .Linkrrss, .container .container_content .container_content_inner .title .par .text-AboutUs .Linkrrss { /*Mientras se ajusta el texto*/
  text-decoration: none;
  color: #8A2BE2;
}
.container .container_content .container_content_inner .container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}
.container .container_content .container_content_inner .container_outer_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: #ebcfce;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
/*Carrusel*/
.carousel-fade {
  margin-left: 170px;
}

/*Colors*/
/*background-color*/
/*Colors*/
/*background-color*/
.fondoMenu {
  background-image: url("../Assets/Img/Fondos/fondo_productos.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fondoMenu .h1Productos {
  color: white;
  padding: 20px;
}

.badges1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px; /*Espacio entre medido bajo de las badges*/
  /*CATEGORIA ENTRADAS*/
  /*CATEGORIA PASTA*/
  /*CATEGORIA TORTAS*/
}
.badges1 .badgeEntradas {
  display: block;
  position: relative;
  width: 15rem; /*TAMAÑO IMAGEN*/
  height: 15rem; /*TAMAÑO IMAGEN*/
  background: url("../Assets/Img/Menu/Badges/Badge-Entradas.jpg") no-repeat 100% 50%;
  background-size: 120%; /*ZOOM IMAGEN*/
  border-radius: 50%;
  transition: all 0.5s cubic-bezier 0.55, 0, 0.1, 1;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badges1 .badgeEntradas:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badges1 .badgeEntradas:hover .textEntradas {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
  width: 15rem;
  letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
  line-height: 15rem;
  height: 15rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badges1 .badgeEntradas .textEntradas {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem; /*CENTRAR EL TEXTO DEL CIRCULO*/
  left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: black;
  border-radius: 50%;
  background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.badges1 .badgePasta {
  display: block;
  position: relative;
  width: 15rem; /*TAMAÑO IMAGEN*/
  height: 15rem; /*TAMAÑO IMAGEN*/
  background: url("../Assets/Img/Menu/Badges/Badge-Sorrentino.jpg") no-repeat 100% 50%;
  background-size: 124%; /*ZOOM IMAGEN*/
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badges1 .badgePasta:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badges1 .badgePasta:hover .textPastas {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
  width: 15rem;
  letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
  line-height: 15rem;
  height: 15rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badges1 .badgePasta .textPastas {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem; /*CENTRAR EL TEXTO DEL CIRCULO*/
  left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: #663399; /*COLOR CIRCULO TEXTO FUERA*/
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.badges1 .badgeTortas {
  display: block;
  position: relative;
  width: 15rem; /*TAMAÑO IMAGEN*/
  height: 15rem; /*TAMAÑO IMAGEN*/
  background: url("../Assets/Img/Menu/Badges/Badge-Torta.jpg") no-repeat 100% 50%;
  background-size: 120%; /*ZOOM IMAGEN*/
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badges1 .badgeTortas:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badges1 .badgeTortas:hover .textTortas {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
  width: 15rem;
  letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
  line-height: 15rem;
  height: 15rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badges1 .badgeTortas .textTortas {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem; /*CENTRAR EL TEXTO DEL CIRCULO*/
  left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: #663399; /*COLOR CIRCULO TEXTO FUERA*/
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.badges2 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px; /*Espacio entre las badges y el footer*/
  /*CATEGORIA POSTRES*/
  /*CATEGORIA ESPECIALES*/
}
.badges2 .badgePostres {
  display: block;
  position: relative;
  width: 15rem; /*TAMAÑO IMAGEN*/
  height: 15rem; /*TAMAÑO IMAGEN*/
  background: url("../Assets/Img/Menu/Badges/Badge-Postres.jpg") no-repeat 100% 50%;
  background-size: 120%; /*ZOOM IMAGEN*/
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badges2 .badgePostres:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badges2 .badgePostres:hover .textPostres {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
  width: 15rem;
  letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
  line-height: 15rem;
  height: 15rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badges2 .badgePostres .textPostres {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem; /*CENTRAR EL TEXTO DEL CIRCULO*/
  left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: #663399; /*COLOR CIRCULO TEXTO FUERA*/
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.badges2 .badgeEspeciales {
  display: block;
  position: relative;
  width: 15rem; /*TAMAÑO IMAGEN*/
  height: 15rem; /*TAMAÑO IMAGEN*/
  background: url("../Assets/Img/Menu/Badges/Badge-Especiales.jpg") no-repeat 100% 50%;
  background-size: 137%; /*ZOOM IMAGEN*/
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badges2 .badgeEspeciales:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badges2 .badgeEspeciales:hover .textEspeciales {
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
  width: 15rem;
  letter-spacing: 8px; /*ESPACIO ENTRE LETRAS*/
  line-height: 15rem;
  height: 15rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badges2 .badgeEspeciales .textEspeciales {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem; /*CENTRAR EL TEXTO DEL CIRCULO*/
  left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: #663399; /*COLOR CIRCULO TEXTO FUERA*/
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/*FORMULARIOS*/
form {
  width: 460px;
  /*PARA CENTRA EL FORMULARIO*/
  margin: auto;
  /*PARA DARLE TRANSPARENCIA CON EL FONDO*/
  background: rgba(0, 0, 0, 0.4);
  /*MEDIDAS DEL BOX*/
  padding: 10px 20px;
  /**/
  box-sizing: border-box;
  /*PARDA DARLE UN MARGEN ARRIBA DEL FORMULARIO*/
  margin-top: 20PX;
  /*PARA HACER LOS BORDES REDONDEADOS*/
  border-radius: 20px; /*7,10 o 15*/
}

.h2-contacto {
  color: white;
  /*CENTRAR EL TEXTO*/
  text-align: center;
  /*PARA QUITAR EL MARGEN*/
  margin: 0;
  /*TAMAÑO DE LA FUENTE*/
  font-size: 30px;
  /*PARA DARLE UN MARGEN ABAJO*/
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

input, textarea {
  /*PARA QUE CUBRA TODO EL BOX*/
  width: 100%;
  /*SEPARACION ENTRE INPUT*/
  margin-bottom: 5px;
  /**/
  padding: 7px;
  box-sizing: border-box;
  border-radius: 7px;
}

textarea {
  /*PARA HACER UN TOPE DEL LABEL*/
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#button:hover {
  cursor: pointer;
}

/*Input de todos los formularios*/
input {
  display: block;
}

/*Colors*/
/*background-color*/
/*Colors*/
/*background-color*/
.fondoOpiniones {
  background-image: url("../Assets/Img/Fondos/fondo_opiniones.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Opinions {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px; /*Espacio entre medido bajo de las badges*/
}
.Opinions .ewChat {
  position: sticky;
  bottom: 15px;
  right: 30px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 320px;
  max-width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 11;
}
.Opinions .ewChat .ewChatBox {
  width: 100%;
  background-color: #eae1da;
  border-radius: 15px;
  display: flex;
  transition: opacity 1000ms;
  flex-direction: column;
}
.Opinions .ewChat .ewChatBox .ewChatHeader {
  background-color: #00796a;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 5px; /*Tamaño del fondo verde*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Opinions .ewChat .ewChatBox .ewChatHeader h3 {
  font-size: 18px;
  margin: 3px;
}
.Opinions .ewChat .ewChatBox .ewChatHeader p {
  font-size: 12px;
  margin: 0;
}
.Opinions .ewChat .ewChatBox .ewChatHeader .ewChatAvatar {
  left: calc(50% - 32px);
  top: -80px;
  width: 59px;
  height: 59px;
  padding: 3px;
  border-radius: 100%;
  background-color: white;
  display: flex;
}
.Opinions .ewChat .ewChatBox .ewChatHeader .ewChatAvatar img {
  margin: 2px 4px 5px;
}
.Opinions .ewChat .ewChatBox .ewChatBubble {
  background-color: white;
  margin: 10px 18px 10px 30px;
  padding: 9px 9px 25px 9px;
  text-align: left;
  border-radius: 0 10px 10px 10px;
  position: relative;
  transition: opacity 1000ms;
}
.Opinions .ewChat .ewChatBox .ewChatBubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: 0;
  margin-left: -15px;
}
.Opinions .ewChat .ewChatBox .ewChatBubble p {
  margin: 0;
  font-size: 14px;
}
.Opinions .ewChat .ewChatBox .ewChatBubble span {
  position: absolute;
  bottom: 5px;
  right: 9px;
  opacity: 0.5;
  font-size: 11px;
}
.Opinions .ewChat .ewChatInput {
  display: flex;
  transition: opacity 1000ms;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  height: 48px;
  border-radius: 24px;
  border: 1px solid black; /*Quitar despues que coloque fondo*/
  border-width: thin; /*Quitar despues que coloque fondo*/
}
.Opinions .ewChat .ewChatInput input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: white;
  height: 32px;
  margin: auto 20px;
  width: 100%;
  border: none;
}
.Opinions .ewChat .ewChatInput input:focus {
  outline: none;
}
.Opinions .ewChat .ewChatInput button {
  border: none;
  background-color: #00796a;
  border-radius: 20px;
  margin: 4px;
  color: white;
  padding: 8px;
}

.Valeria {
  margin: -8px 0 0 -4px;
}

.ewChatAvatar .Silvio {
  margin: 0 0 60px 7px;
}

.ewChatAvatar .Christian {
  margin: 0 0 60px 2px;
}

.ewChatAvatar .Micaela {
  margin: -4px 10px 5px -2px;
}

.ewChatAvatar .JoseG {
  margin: 0 17px 5px 5px;
}

.ewChatAvatar .Ganesha {
  margin: -4px 10px 5px -2px;
}

.ewChatAvatar .Francia {
  margin: -1px 7px 5px 3px;
}

.ewChatAvatar .Andreina {
  margin: -4px 10px 5px -2px;
}

.ewChatAvatar .Jose {
  margin-left: 1px;
}

.ewChatAvatar .Luis {
  margin-left: 1px;
}

.ewChatAvatar .Fabiana {
  margin: -2px 10px 5px -5px;
}

.ewChatAvatar .Cristiana {
  margin: -3px 10px 5px 2px;
}

/*Colors*/
/*background-color*/
#Pie {
  display: flex;
  justify-content: space-evenly;
  background-color: #d8af97;
  font-family: "Josefin Sans", sans-serif;
}

/*Medios de pago*/
.Mediosdepago {
  padding: 10px;
}

.Imagenesdepago {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 10px 10px;
}

.Copyright {
  margin-top: 70px;
}

#rrss .Nr {
  padding: 10px;
}
#rrss ul {
  /*Aqui fue lo que modifique para centrar las redes*/
  display: flex;
  margin: -20px 26px 0 0px;
}
#rrss ul li {
  list-style: none;
}
#rrss ul li:nth-child(1) a:before {
  background-image: url("../Assets/Img/Fondos/fondoInstagram.png");
}
#rrss ul li:nth-child(2) a:before {
  background-color: #25d366;
}
#rrss ul li a {
  width: 40px; /*Tamaño de los circulos*/
  height: 40px;
  background-color: white;
  text-align: center;
  line-height: 33px; /*Posicion de la imagen*/
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  z-index: 1;
}
#rrss ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}
#rrss ul li a:hover:before {
  top: 0;
}
#rrss ul li a:hover .rrss {
  transform: rotateY(360deg);
}
#rrss ul li a .rrss {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

/*Colors*/
/*background-color*/
/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  /*Carrusel*/
  #carouselExampleFade {
    margin-left: 55px;
  }
  /*Queries Productos*/
  .h1Productos {
    font-size: 45px;
  }
  .badges1, .badges2 {
    flex-direction: column;
    margin-left: 50px;
  }
  .badgePasta, .badgeTortas, .badgeEspeciales {
    margin-top: 25px;
  }
  /*Contacto*/
  .h1Contacto {
    font-size: 40px;
  }
  .parrContacto, .datosContacto, .h2Contacto, .maps {
    text-align: center;
  }
  .datosContacto .Mediosdepago {
    text-align: center;
    margin-bottom: -5px;
  }
  .Efectivo {
    margin-left: 30px;
    margin-right: -1px;
  }
  .Mercadopago {
    margin-left: 10px;
  }
  .Nr {
    text-align: center;
  }
  ul li a .iconsSocialmedia {
    margin-left: -100px;
  }
  #rrss ul li:nth-child(1) a, .Instagram {
    background-image: url("../../Assets/Img/Fondos/fondoInstagram.png");
  }
  #rrss ul li:nth-child(2) a, .Whatsapp {
    background-color: #25d366;
  }
  /*Queries Opiniones*/
  .Opinions {
    flex-direction: column;
    margin-left: 60px;
  }
  #universalQuerys {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
