@charset "UTF-8";
/*Colors*/
/*background-color*/
* {
  margin: 0;
  padding: 0;
}

/*Body, h1, a, p, h2, h3,*/ /* Formuladrio(form, label)*/
body {
  background-color: white;
}

h1 {
  /* Fuente*/
  font-family: "Oooh Baby", cursive;
  /*Tamaño fuente*/
  font-size: 50px;
  /*Centrar fuente*/
  text-align: center;
}

/*Color delos enlaces*/
a {
  text-decoration: none;
  color: white;
}

/*Fuente*/
p, h2, h3, form, label {
  font-family: "Josefin Sans", sans-serif;
}

/*Colors*/
/*background-color*/
/*Colors*/
/*background-color*/
* {
  margin: 0;
  padding: 0;
}

/*Body, h1, a, p, h2, h3,*/ /* Formuladrio(form, label)*/
body {
  background-color: white;
}

h1 {
  /* Fuente*/
  font-family: "Oooh Baby", cursive;
  /*Tamaño fuente*/
  font-size: 50px;
  /*Centrar fuente*/
  text-align: center;
}

/*Color delos enlaces*/
a {
  text-decoration: none;
  color: white;
}

/*Fuente*/
p, h2, h3, form, label {
  font-family: "Josefin Sans", sans-serif;
}

/*Header y nav*/
.navbar {
  background-color: #d8af97;
}
.navbar .nav-link {
  margin: 20px 20px 20px 20px;
}
.navbar .nav-link:hover {
  color: black;
}

/*Carrusel*/
.carousel-fade {
  margin-left: 170px;
}

/*FORMULARIOS*/
form {
  width: 460px;
  /*PARA CENTRA EL FORMULARIO*/
  margin: auto;
  /*PARA DARLE TRANSPARENCIA CON EL FONDO*/
  background: rgba(0, 0, 0, 0.4);
  /*MEDIDAS DEL BOX*/
  padding: 10px 20px;
  /**/
  box-sizing: border-box;
  /*PARDA DARLE UN MARGEN ARRIBA DEL FORMULARIO*/
  margin-top: 20PX;
  /*PARA HACER LOS BORDES REDONDEADOS*/
  border-radius: 20px; /*7,10 o 15*/
}

.h2-contacto {
  color: white;
  /*CENTRAR EL TEXTO*/
  text-align: center;
  /*PARA QUITAR EL MARGEN*/
  margin: 0;
  /*TAMAÑO DE LA FUENTE*/
  font-size: 30px;
  /*PARA DARLE UN MARGEN ABAJO*/
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

input, textarea {
  /*PARA QUE CUBRA TODO EL BOX*/
  width: 100%;
  /*SEPARACION ENTRE INPUT*/
  margin-bottom: 5px;
  /**/
  padding: 7px;
  box-sizing: border-box;
  border-radius: 7px;
}

textarea {
  /*PARA HACER UN TOPE DEL LABEL*/
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#button:hover {
  cursor: pointer;
}

/*Input de todos los formularios*/
input {
  display: block;
}

/*SECCION OPINIONES*/
.fondoOpiniones {
  background-image: url("../Assets/Img/Fondos/fondo_opiniones.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Oponion de clientes*/
:root {
  --ewc-color-1: #ffffff; /*Blanco*/
  --ewc-color-2: #eae1da; /*Fondo chat*/
  --ewc-color-4: #00796a; /*Fondo nombre y enviar*/
}

.ewChat {
  position: sticky;
  bottom: 15px;
  right: 30px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 320px;
  max-width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 11;
}

.ewChatBox {
  width: 100%;
  background-color: var(--ewc-color-2);
  border-radius: 15px;
  display: flex;
  transition: opacity 1000ms;
  flex-direction: column;
}

.ewChatAvatar {
  left: calc(50% - 32px);
  top: -80px;
  width: 59px;
  height: 59px;
  padding: 3px;
  border-radius: 100%;
  background-color: var(--ewc-color-1);
  display: flex;
}

.Opinions {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px; /*Espacio entre medido bajo de las badges*/
}

/*Centrar el Avatar*/
.ewChatAvatar img {
  margin: 2px 4px 5px;
}

.Valeria {
  margin: -5px 0 0 -5px;
}

.ewChatAvatar .Silvio {
  margin: 0 0 60px 7px;
}

.ewChatAvatar .Christian {
  margin: 0 0 60px 2px;
}

.ewChatAvatar .JoseG {
  margin: 0 17px 5px 5px;
}

.ewChatAvatar .Ganesha {
  margin: 0 10px 5px -2px;
}

.ewChatAvatar .Francia {
  margin: 0 7px 5px 5px;
}

.ewChatAvatar .Andreina {
  margin-left: -3px;
}

.ewChatAvatar .Jose {
  margin-left: 1px;
}

.ewChatAvatar .Luis {
  margin-left: 1px;
}

.ewChatAvatar .Fabiana {
  margin-left: -5px;
}

.ewChatHeader {
  background-color: var(--ewc-color-4);
  color: var(--ewc-color-1);
  border-radius: 15px 15px 0 0;
  padding: 5px; /*Tamaño del fondo verde*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ewChatHeader h3 {
  font-size: 18px;
  margin: 3px;
}

.ewChatHeader p {
  font-size: 12px;
  margin: 0;
}

.ewChatBubble {
  background-color: var(--ewc-color-1);
  margin: 10px 18px 10px 30px;
  padding: 9px 9px 25px 9px;
  text-align: left;
  border-radius: 0 10px 10px 10px;
  position: relative;
  transition: opacity 1000ms;
}

.ewChatBubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: var(--ewc-color-1);
  border-left: 0;
  border-top: 0;
  margin-top: 0;
  margin-left: -15px;
}

.ewChatBubble p {
  margin: 0;
  font-size: 14px;
}

.ewChatBubble span {
  position: absolute;
  bottom: 5px;
  right: 9px;
  opacity: 0.5;
  font-size: 11px;
}

.ewChatInput {
  display: flex;
  transition: opacity 1000ms;
  width: 100%;
  margin-top: 10px;
  background-color: var(--ewc-color-1);
  height: 48px;
  border-radius: 24px;
  border: 1px solid black; /*Quitar despues que coloque fondo*/
  border-width: thin; /*Quitar despues que coloque fondo*/
}

.ewChatInput input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: var(--ewc-color-1);
  height: 32px;
  margin: auto 20px;
  width: 100%;
  border: none;
}

.ewChatInput input:focus {
  outline: none;
}

.ewChatInput button {
  border: none;
  background-color: var(--ewc-color-4);
  border-radius: 20px;
  margin: 4px;
  color: var(--ewc-color-1);
  padding: 8px;
}

/*Colors*/
/*background-color*/
/*Footer*/
#Pie {
  display: flex;
  flex-direction: column;
  background-color: #d8af97;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/*Medios de pago*/
.Mediosdepago {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  margin-right: 40px;
}

.Imagenesdepago {
  display: flex;
}

.Efectivo {
  margin: 0 5px 0 20px;
}

.Mercadopago {
  margin: 5px;
}

/*Redes Sociales*/
.Nr {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px;
  margin-right: 40px;
}

#rrss ul { /*Aqui fue lo que modifique para centrar las redes*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

#rrss ul li {
  list-style: none;
}

#rrss ul li a {
  width: 40px; /*Tamaño de los circulos*/
  height: 40px;
  background-color: white;
  text-align: center;
  line-height: 33px; /*Posicion de la imagen*/
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  z-index: 1;
}

#rrss ul li a .rrss {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

#rrss ul li a:hover .rrss {
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

#rrss ul li a:hover:before {
  top: 0;
}

/*Fondo boton Instagram*/
#rrss ul li:nth-child(1) a:before {
  background-image: url("../Assets/Img/Fondos/fondoInstagram.png");
}

/*Fondo boton whatsapp*/
#rrss ul li:nth-child(2) a:before {
  background: #25d366;
}

/*Copyright*/
.Copyright {
  text-align: center;
}

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  /*Queries Productos*/
  .h1Productos {
    font-size: 45px;
  }
  .badges1, .badges2 {
    flex-direction: column;
    margin-left: 50px;
  }
  .badgePasta, .badgeTortas, .badgeEspeciales {
    margin-top: 25px;
  }
  .Mediosdepago {
    display: flex;
    flex-direction: row;
    margin: 10px 10px -20px 128px;
  }
  .Imagenesdepago {
    display: flex;
    flex-direction: row;
    margin: 10px 100px -10px 130px;
  }
  .Nr {
    display: flex;
    flex-direction: row;
    margin: 10px 100px -15px 100px;
  }
  .queriesUl {
    display: flex;
    flex-direction: row;
    margin: 0 140px 10px 100px;
  }
  /*Queries Opiniones*/
  .Opinions {
    flex-direction: column;
    margin-left: 60px;
  }
  #universalQuerys {
    margin-top: 25px;
  }
}
/*Queries para Desktop*/
@media screen and (max-width: 1366px) {
  .Mediosdepago {
    display: flex;
    flex-direction: row;
    margin: 0 50px 0 50px;
  }
  .Imagenesdepago {
    display: flex;
    flex-direction: row;
    margin-left: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
