/*FORMULARIOS*/
form {
    width: 460px;
    /*PARA CENTRA EL FORMULARIO*/
    margin: auto;
    /*PARA DARLE TRANSPARENCIA CON EL FONDO*/
    background: rgba(0, 0, 0, 0.4);
/*MEDIDAS DEL BOX*/
    padding: 10px 20px;
    /**/
    box-sizing: border-box;
    /*PARDA DARLE UN MARGEN ARRIBA DEL FORMULARIO*/
    margin-top: 20PX;
    /*PARA HACER LOS BORDES REDONDEADOS*/
    border-radius: 20px; /*7,10 o 15*/
}

.h2-contacto {
    color: white;
    /*CENTRAR EL TEXTO*/
    text-align: center;
    /*PARA QUITAR EL MARGEN*/
    margin: 0;
    /*TAMAÑO DE LA FUENTE*/
    font-size: 30px;
    /*PARA DARLE UN MARGEN ABAJO*/
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

input, textarea {
    /*PARA QUE CUBRA TODO EL BOX*/
    width: 100%;
    /*SEPARACION ENTRE INPUT*/
    margin-bottom: 5px;
    /**/
    padding: 7px;
    box-sizing: border-box;
    border-radius: 7px; 
}

textarea {
    /*PARA HACER UN TOPE DEL LABEL*/
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#button:hover {
    cursor: pointer;
}

/*Input de todos los formularios*/
input {
    display: block;
}