.fondoContacto{
    background-image: url("../../Assets/Img/Fondos/fondo_donuts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.firtsContacto {
    .h1Contacto {
        text-align: center;
        font-family: 'Oooh Baby', cursive;
        font-size: 60px;
    }
    .parrContacto {
        text-align: center;
        font-size: 20px;
    }
    .datosContacto {
        text-align: center;
    }
}

.h2Contacto {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.maps {
    text-align: center;
}   