/*Footer*/
#Pie {
    display: flex;
    flex-direction: column;
    background-color: #d8af97;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

}
/*Medios de pago*/

.Mediosdepago {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    margin-right: 40px;
}

.Imagenesdepago {
    display: flex;
}

.Efectivo {
    margin: 0 5px 0 20px;
}

.Mercadopago {
    margin: 5px;
}


/*Redes Sociales*/
.Nr {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    margin-right: 40px;
}

#rrss ul{ /*Aqui fue lo que modifique para centrar las redes*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

#rrss ul li {
    list-style: none;
}

#rrss ul li a {
    width: 40px;/*Tamaño de los circulos*/
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 33px; /*Posicion de la imagen*/
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

#rrss ul li a .rrss {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

#rrss ul li a:hover .rrss {
    transform: rotateY(360deg);
    
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
}

#rrss ul li a:hover:before {
    top: 0;
}

/*Fondo boton Instagram*/
#rrss ul li:nth-child(1) a:before{
    background-image: url("../Assets/Img/Fondos/fondoInstagram.png");
}

/*Fondo boton whatsapp*/
#rrss ul li:nth-child(2) a:before{
    background: #25D366;
}

/*Copyright*/
.Copyright {
    text-align: center;
}