@import "../base/variables";
@import "../base/things";
/*Header y nav*/
.navbar {
    background-color: $BlondeLace;
    & .nav-link {
        margin: 20px 20px 20px 20px;
        &:hover {
            color: $black;
        }
    }
}
