@import "../base/variables";
@import "../base/mixins";

.fondoMenu {
    background-image: url("../Assets/Img/Fondos/fondo_productos.png");
    background-repeat: no-repeat;
    background-size: cover;
    .h1Productos {
        color: $white;
        padding: 20px;    
    }
    .badges1 {
        @include flex-evenly-padding;
        .badgeEntradas{
            @include badges;
            background: url("../Assets/Img/Menu/Badges/Badge-Entradas.jpg") no-repeat 100% 50%;
            background-size: 120%;/*ZOOM IMAGEN*/
            border-radius: 50%;
            transition: all 0.5s cubic-bezier (0.55, 0, 0.1, 1);
            box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
            &:hover {
                @include badges-hover;
            }
                &:hover .textEntradas{
                    @include badge-hover-txt;
                }
                    
            .textEntradas{
                display: block;
                position:absolute;
                width: 10rem;
                height: 10rem;
                line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
                left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
                top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
                margin-top: -10rem;
                margin-left: -10rem;
                font-size: 1.5rem;
                font-family: 'Josefin Sans', sans-serif;
                text-align: center;
                color: black;
                border-radius: 50%;
                background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
                transform: rotate(-180deg) translate(-10rem) rotate(180deg);
                box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
                transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);            
            }
        }
        .badgePasta{
            @include badges;
            background: url("../Assets/Img/Menu/Badges/Badge-Sorrentino.jpg") no-repeat 100% 50%;
            background-size: 124%;/*ZOOM IMAGEN*/
            border-radius: 50%;
            transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
            box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
            &:hover {
                @include badges-hover;
            }
            &:hover .textPastas {
                @include badge-hover-txt;
            }
            .textPastas{
                @include badge-txt;
            }
        }
        .badgeTortas{
            @include badges;
            background: url("../Assets/Img/Menu/Badges/Badge-Torta.jpg") no-repeat 100% 50%;
            background-size: 120%;/*ZOOM IMAGEN*/
            border-radius: 50%;
            transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
            box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
            &:hover {
                @include badges-hover;
            }
            &:hover .textTortas {
                @include badge-hover-txt;
            }        
            .textTortas{
                @include badge-txt;
            }
        }
    }
}

.badges2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;/*Espacio entre las badges y el footer*/
    .badgePostres {
        @include badges;
        background: url("../Assets/Img/Menu/Badges/Badge-Postres.jpg") no-repeat 100% 50%;
        background-size: 120%;/*ZOOM IMAGEN*/
        border-radius: 50%;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
        &:hover {
            @include badges-hover;
        }
        &:hover .textPostres {
            @include badge-hover-txt;
        }
        .textPostres {
            @include badge-txt;
        }
    }
    .badgeEspeciales {
        @include badges;
        background: url("../Assets/Img/Menu/Badges/Badge-Especiales.jpg") no-repeat 100% 50%;
        background-size: 137%;/*ZOOM IMAGEN*/
        border-radius: 50%;
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
        &:hover {
            @include badges-hover;
        }
        &:hover .textEspeciales {
            transform: rotate(-45deg) translate(0px) rotate(-315deg);
            background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
            width: 15rem;
            letter-spacing: 8px; /*ESPACIO ENTRE LETRAS*/
            line-height: 15rem;
            height: 15rem;
            margin-top: -10rem;
            margin-left: -10rem;
            transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;        
        }    
        .textEspeciales {
            @include badge-txt;
        }
    }
}