/*SECCION PRODUCTOS*/
.h1Productos {
    color: white;
    padding: 20px;
}

/*BUSCADOR*//*DESACTIVAR CUANDO ESTE LISTO*/

/*.box {
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #ac0005;
    background: #fff url("../assets/Img/Iconos/search-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 60px;
    transition: all .5s;
}

input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color:  #753228;
    box-shadow: 0 0 5px #6dcff680;
    cursor: pointer;
}*/

/*Fondo de productos*/
.fondoMenu {
    
    background-image: url("../Assets/Img/Fondos/fondo_productos.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Seccion Productos*/
.badges1 { /* aqui centre los productos uno al lado del otro */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;/*Espacio entre medido bajo de las badges*/
}

.badges2 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;/*Espacio entre las badges y el footer*/
}

/*Caja de productos*/

.seccionProdcutos .containerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.seccionProdcutos .containerBox .Box {
    flex: 1 1 30rem; /*Para la separacion entre boxes*/
    margin: 1rem;
    padding: 1rem;
    background-color:lightpink;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 5px; /*Ajustar mas adelante*/
    text-align: center;
    padding-bottom: 3rem; /*Tamaño del box abajo*/
}

.seccionProdcutos .containerBox .Box:nth-child(2), .seccionProdcutos .containerBox .Box:hover {
    border: .2rem solid blue; /*color al pasar el cursor por la caja*/
}

.seccionProdcutos .containerBox .Box .nombreProducto {
    font-size: 25px;
    color: #00796a; /*Si llega a necesitar*/
    padding-top: 1rem;/*Separacion entre el nombre y la imagen*/
}

.seccionProdcutos .containerBox .Box .Precio {
    font-size: 12.5px;
    color:darkblue; /*Si llega a necesitar*/
    padding: 10px 0;/*Separaion del nombre del producto y el precio*/
}

.seccionProdcutos .containerBox .Box .Precio span {
    color: darkcyan;
}

.seccionProdcutos .containerBox .Box .Precio .Descripcion {
    padding: 10px 0;
}

/*CATEGORIA ENTRADAS*/
.badgeEntradas {
    display: block;
    position: relative;
    width: 15rem; /*TAMAÑO IMAGEN*/
    height: 15rem; /*TAMAÑO IMAGEN*/
    background: url("../Assets/Img/Menu/Badges/Badge-Entradas.jpg") no-repeat 100% 50%;
    background-size: 120%;/*ZOOM IMAGEN*/
    border-radius: 50%;
    transition: all 0.5s cubic-bezier (0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
    
}

.badgeEntradas:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 0% 50%;
}

.badgeEntradas:hover .textEntradas {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
    width: 15rem;
    letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
    line-height: 15rem;
    height: 15rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.badgeEntradas .textEntradas {
    display: block;
    position:absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
    left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    margin-top: -10rem;
    margin-left: -10rem;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    border-radius: 50%;
    background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


/*CATEGORIA PASTA*/
.badgePasta {
    display: block;
    position: relative;
    width: 15rem; /*TAMAÑO IMAGEN*/
    height: 15rem; /*TAMAÑO IMAGEN*/
    background: url("../Assets/Img/Menu/Badges/Badge-Sorrentino.jpg") no-repeat 100% 50%;
    background-size: 124%;/*ZOOM IMAGEN*/
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badgePasta:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 0% 50%;
}

.badgePasta:hover .textPastas {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
    width: 15rem;
    letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
    line-height: 15rem;
    height: 15rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.badgePasta .textPastas {
    display: block;
    position:absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
    left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    margin-top: -10rem;
    margin-left: -10rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/*CATEGORIA TORTAS*/
.badgeTortas {
    display: block;
    position: relative;
    width: 15rem; /*TAMAÑO IMAGEN*/
    height: 15rem; /*TAMAÑO IMAGEN*/
    background: url("../Assets/Img/Menu/Badges/Badge-Torta.jpg") no-repeat 100% 50%;
    background-size: 120%;/*ZOOM IMAGEN*/
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badgeTortas:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 0% 50%;
}

.badgeTortas:hover .textTortas {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
    width: 15rem;
    letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
    line-height: 15rem;
    height: 15rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.badgeTortas .textTortas {
    display: block;
    position:absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
    left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    margin-top: -10rem;
    margin-left: -10rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/*CATEGORIA POSTRES*/
.badgePostres {
    display: block;
    position: relative;
    width: 15rem; /*TAMAÑO IMAGEN*/
    height: 15rem; /*TAMAÑO IMAGEN*/
    background: url("../Assets/Img/Menu/Badges/Badge-Postres.jpg") no-repeat 100% 50%;
    background-size: 120%;/*ZOOM IMAGEN*/
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badgePostres:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 0% 50%;
}

.badgePostres:hover .textPostres {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
    width: 15rem;
    letter-spacing: 1rem; /*ESPACIO ENTRE LETRAS*/
    line-height: 15rem;
    height: 15rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.badgePostres .textPostres {
    display: block;
    position:absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
    left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    margin-top: -10rem;
    margin-left: -10rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/*CATEGORIA ESPECIALES*/
.badgeEspeciales {
    display: block;
    position: relative;
    width: 15rem; /*TAMAÑO IMAGEN*/
    height: 15rem; /*TAMAÑO IMAGEN*/
    background: url("../Assets/Img/Menu/Badges/Badge-Especiales.jpg") no-repeat 100% 50%;
    background-size: 137%;/*ZOOM IMAGEN*/
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badgeEspeciales:hover {
    box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
    background-position: 0% 50%;
}

.badgeEspeciales:hover .textEspeciales {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(102, 51, 153, 0.5); /*COLOR DEL CIRCULO TEXTO*/
    width: 15rem;
    letter-spacing: 8px; /*ESPACIO ENTRE LETRAS*/
    line-height: 15rem;
    height: 15rem;
    margin-top: -10rem;
    margin-left: -10rem;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.badgeEspeciales .textEspeciales {
    display: block;
    position:absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;/*CENTRAR EL TEXTO DEL CIRCULO*/
    left: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    top: 66.8%; /*POSICION DEL CIRCULO TEXTO*/
    margin-top: -10rem;
    margin-left: -10rem;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: rebeccapurple; /*COLOR CIRCULO TEXTO FUERA*/
    transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}