@import "../base/variables";

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 576px) {
    /*Carrusel*/
    #carouselExampleFade {
        margin-left: 55px;
    }

    /*Queries Productos*/
    .h1Productos {
        font-size: 45px;
    }

    .badges1, .badges2 {
        flex-direction: column;
        margin-left: 50px;
    }

    .badgePasta, .badgeTortas, .badgeEspeciales {
        margin-top: 25px;
    }

/*Contacto*/
    .h1Contacto {
        font-size: 40px;
    }

    .parrContacto, .datosContacto , .h2Contacto, .maps {
        text-align: center;
    }

    .datosContacto
/*Footer*/
    .Mediosdepago {
        text-align: center;
        margin-bottom: -5px;
    }

    .Efectivo {
        margin-left: 30px;
        margin-right: -1px;
    }

    .Mercadopago {
        margin-left: 10px;
    }

    .Nr {
        text-align: center;
    }

    ul li a .iconsSocialmedia {
    margin-left: -100px;
    }

    #rrss ul li:nth-child(1) a, .Instagram {
        background-image: url("../../Assets/Img/Fondos/fondoInstagram.png");
    }      

    #rrss ul li:nth-child(2) a, .Whatsapp {
        background-color: $AlgalFuel;
    }
    // .queriesUl {
    //     display: flex;
    //     flex-direction: row;
    //     margin: 0 140px 10px 100px;
    // }

/*Queries Opiniones*/

    .Opinions {
        flex-direction: column;
        margin-left: 60px;
    }

    #universalQuerys {
        margin-top: 25px;
    }
}

// /*Queries para Desktop*/
// @media screen and (max-width: 1366px) {
//     .Mediosdepago {
//         display: flex;
//         flex-direction: row;
//         margin: 0 50px 0 50px;
//     }

//     .Imagenesdepago {
//         display: flex;
//         flex-direction: row;
//         margin-left: 55px;
// }
// }