/*Link del texto*/
.Linkrrss {
    text-decoration: none;
    color: blueviolet;
}

/*Seccion Nosotros*/
:root {
    --secondary-color: #ebcfce;
    --contrast-color: #ebcfce;/* #ffffff */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10; 
    background-color: var(--contrast-color);
}

.container {
    display: flex;
    height: 100vh; /*Tamaño del fondo rosa*/
    justify-content: space-around;
    align-items: center;
    color: black;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    transition: all .8s ease;
}

.container_content {
    width: 50%;
}

.container_content_inner {
    width: 80%;
    margin-left: 80px;
}

.container_outer_img {
    margin: 50px;
    width: 50%;
    overflow: hidden;
}

.container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
}

.par {
    height: auto;
    overflow: hidden;
}

.text-AboutUs{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}

.title {
    overflow: hidden;
    height: auto;
    text-align: center;
}

.h1-AboutUs {
        /* Fuente*/
        font-family: 'Oooh Baby', cursive;
        font-size: 40px;
        color: black;
        margin-bottom: 20px;
        transform: translateY(100px);
        animation: slideUp .8s ease forwards .5s;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
}