
$display-fb: flex;

/*Centrar fuente*/
$txt-align: center;

/*position*/
$posi-abso: absolute;
$posi-rela: relative;
$posi-sti: sticky;


/*align-items*/
$align-center: center;
$align-end: flex-end;

/*justify-content*/
$justi-around: space-around;
$justi-baseline: baseline;
$justi-evenly: space-evenly;
$justi-center: center;
$justi-left: left;
$justi-right: right;
$justi-end: flex-end;

/*overflow*/
$over-hidden: hidden;

