/*Colors*/
$GoshawkGrey: #444444;
$BlueViolet: #8A2BE2;
$HawkTurquoise: #00796a;
$DarkBlue: #00008B;
$DarkCyan: #008B8B;
$Nero: #262626;
$white: white;
$black: black;
$AlgalFuel: #25d366;
$Innocence: #ebcfce;

/*background-color*/
$BlondeLace: #d8af97;
$LightPink: #FFB6C1;


